# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Estudo.WebAPI.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\PROJETOS\estudo\Alura\Estudo.Core_2_1\.idea\.idea.Estudo.WebAPI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
